/* GENERAL STYLE */
html, body {  margin:0 auto; padding:0; background:#444; color:#999; font:normal 100%/1.5 georgia, serif; text-align:justify; }
h1 { margin:.3em auto 1em; padding:0; text-align:center; font-size:large; }
header { border-bottom:1px solid #fb6f3a; }
header h1 { background:transparent; color:#999; }
p  { margin:.3em auto; text-align:center; }
a  { background-color:transparent; color:#fb6f3a; text-decoration:none; }
a:hover { background-color:transparent; color:#111; }
article { width:80%; margin:1em auto; }
footer { margin:1em auto 0; padding:0; color:#999; font-size:88%; text-align:center; }
textarea { min-width:100px; max-width:800px; min-height:160px; max-height:480px; width:400px; }
.entry-title { border-bottom:1px solid #fb6f3a; }
.fail strong { color:red; }
.success strong { color:green; }
.dragover { background-color:rgba(255, 255, 255, .5); }
#dropzone { display:block; margin:.3em auto; width:400px; padding:15px 15px 30px; border-radius:10px; border:3px dashed #999; text-align:center;}
#response div       { border-radius:5px; background:rgba(0, 0, 0, .5); margin:1em auto; padding:5px; }
#response div:hover { background:rgba(255, 255, 255, .5); }